@font-face {
    font-family: "Bloodlust";
    src: url(fonts/bloodlust.ttf);
}
body {
    font-family: "Bloodlust";
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-text-stroke: 3px black;
}
img {
    width: 100%;
    height: auto;
}

#main_space{
    position: relative;
}

#start_header{
    position: absolute;
    width: 100%;
    font-size: 180px;
    text-align: center;
}
#start_button{
    border: none;
    position: absolute;
    font-family: "Bloodlust";
    font-size: 120px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: white;
    background: none;
    outline: none;
}
button:active {
    border-style: outset;
}
#score_container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}
#buttons_container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}
#rock, #paper, #scissors{
    font-family: "Bloodlust";
    color: white;
    -webkit-text-stroke: 3px black;
    font-size: 60px;
    border: none;
    background: none;
    outline: none;
}